# User interface
windows-curses

# Graphics and multimedia
pygame
moviepy
opencv-python

# Audio handling
pyaudio

# Internet data retrieval
yt-dlp

# Progress monitoring and messages
tqdm
colorama

# Cryptography
cryptography
